<div class="container">
    <div class="title">
        <h1>Inserir alunos</h1>
    </div>
    <div class="fields">
        <input type="text" class="input-nome" [(ngModel)]="nome" placeholder="Digite o nome do aluno">
        <input type="text" class="input-nota" [(ngModel)]="nota1" placeholder="Digite a nota 1">
        <input type="text" class="input-nota" [(ngModel)]="nota2" placeholder="Digite a nota 2">
        <button type="submit" (click)="adicionarEstudante()">Inserir</button>
    </div>
</div>