.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 1.3em;
    }

    .fields {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        width: 30%;

        input {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
        }

        .submit-button {
            width: 100%;
            margin: 0;
        }
    }
}