<div class="container-list">

    <table>
        <td class="td-nome"> Nome
            <div class="div-tr">
                <tr class="tr-nome" *ngFor="let item of list">{{item.nome}}</tr>
            </div>
        </td>
        <td class="td-media"> Média
            <div class="div-tr">
                <tr class="tr-media" *ngFor="let item of list">{{item.media}}</tr>
            </div>
        </td>
        <td class="td-situacao"> Situação
            <div class="div-tr">
                <tr class="tr-situacao" *ngFor="let item of list">{{item.situacao}}</tr>
            </div>
        </td>
        <td class="td-acoes"> Ações
            <div class="div-tr">
                <tr class="tr-acoes" *ngFor="let item of list">
                    <button (click)="alterarEstudante(item.id)">Alterar</button>
                    <button (click)="excluirEstudante(item.id)">Excluir</button>
                </tr>
            </div>
        </td>
    </table>
</div>