<div class="container-list">
    <table border="1" *ngFor="let item of list">
        <td class="td-dados">
            Dados
            <tr>Nome: </tr>
            <tr>Média: </tr>
            <tr>Situação: </tr>
        </td>
        <td class="td-valores">
            Valores
            <tr>{{item.nome}}</tr>
            <tr>{{item.media}}</tr>
            <tr>{{item.situacao}}</tr>
        </td>
        <td class="td-acoes"> Ações
            <br>
            <br>
            <tr><button>Alterar</button></tr>
            <tr><button>Excluir</button></tr>
        </td>

    </table>
</div>